.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/

android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/key.properties

.idea/
.vscode/
*.iml
.DS_Store
